@value variables: "../../styles/variables.module.css";
@value lighter-black from variables;

.header {
    position: fixed;
    height: 52px;
    width: 100%;
    z-index: 80;

    background-color: lighter-black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    top: 0;
    transform: translateY(-92px);
    transition: all .25s ease-in-out;
}

.headerFixed {
    transform: translateY(0);
}

.headerTop {
    transform: translateY(0);
}

.header .logo {
    position: absolute;
    left: 0;
    right: 0;
    width: 130px;
    margin: auto;

    display: flex;
    justify-content: center;
}

.header .logo svg {
    width: 36px;
    transition: width .15s .5s;
}

.header .logo svg rect {
    width: 36px;
    transition: width .15s .5s;
}

.header .logo svg path:first-of-type {
    transform: translateX(-130px);
    transition: transform .15s .5s;
}

.headerTop .logo svg {
    width: 130px;
}

.headerTop .logo svg rect {
    width: 130px;
}

.headerTop .logo svg path:first-of-type {
    transform: translateX(0);
}

.searchCont {
    padding-right: 30px;
    height: 17px;
}

.searchIcon {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: square;
    stroke: #fff;
}