@value variables: '../../styles/variables.module.css';
@value medium, large, text-grey, grey, lighter-black, red from variables;

.tabs {
    right: 0;
    align-content: center;
    z-index: 60;

}

.tabs, .tabList {
    position: fixed;
    width: 100%;
    height: 76px;
    bottom: 0;

    display: flex;
}

.tabList {
    z-index: 40;
}

@keyframes slideup {
    0% {
        bottom: -100px;
    }
    100% {
        bottom: 0;
    }
}

.tabListFixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 76px;
    margin: 0;
    display: flex;
    animation-name: slideup;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    z-index: 60;
}

@media (min-width: large) {
    .tabs {
        justify-content: center;
        position: absolute;
    }

    .tabList {
        position: relative;
        width: 100%;
        padding: 0 0 0 40px;
        max-width: 1240px;
    }

    .tabListFixed {
        max-width: 1240px;
        margin-left: 20px;
        width: auto;
        left: 0;
    }
}

.tabItem {
    margin-top: 10px;
    border-right: 1px solid grey;
}

.tabItem:last-child {
    border-right: 0;
}

.tabItem, .tabItem a {
    display: flex;
    flex-grow: 1;
}

.tabItem a {
    background-color: lighter-black;
    color: text-grey;
    padding: 0 2%;

    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.tabItem a:hover {
    color: #fff;
}

.tabItem.tabItemActive a {
    color: #fff;
}

.tabItem a::before {
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
    transform-origin: 0 50%;
    content: "";
    border-top: 5px solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.tabItem.tabItemActive a::before {
    transform: scaleX(1);
}

.tabItem a span {
    max-width: 98px;
    width: 100%;
    font-family: Roboto,Trebuchet MS,Helvetica,Arial,sans-serif;
    font-weight: 800;
    font-size: 8.5px;
    line-height: 10px;
    text-transform: uppercase;
}

@media (min-width: medium) {
    .tabItem a span {
        font-size: 11px;
        line-height: 12px;
    }
}

@media (min-width: large) {
    .tabItem a {
        padding: 0 20px;
        text-align: left;
    }
    
    .tabItem, .tabItem a {
        flex-grow: 0;
    }
}